<ion-header>
  <ion-toolbar>
    <ion-title>Questionnaire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>{{ title }}</h1>
  <div>
    <ul>
      <li *ngFor="let item of questionnaire">
       <app-questionnaire-item [item]="item"></app-questionnaire-item>
      </li>
    </ul>
    <button ion-button (click)="submitQuestionnaireResponse()">Besvar</button>
  </div>
  <ion-button expand="block" routerLink="/home" routerDirection="root">Tilbage</ion-button>
</ion-content>
