<div class="box">
    <p class="bold">{{item.text}}</p>
    <div *ngIf="type === 'observation'">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button full (click)="start()" [disabled]="(startPressed && deviceConnector != null) ? true : false">Start</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button full (click)="stop()" [disabled]="startPressed ? false : true">Stop</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <input  ion-input full type="number" [(ngModel)]="answer && answer.valueInteger" placeholder="Indtast et tal"
              disabled>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <input  type="number" ion-item [(ngModel)]="answer" (change)="answer = answer" *ngIf="type === 'integer'" placeholder="Indtast et tal">
    <input  type="number" ion-item [(ngModel)]="answer" (change)="answer = answer" *ngIf="type === 'decimal'" placeholder="Indtast et tal">
    <div *ngIf="type === 'boolean'">
      <ion-list radio-group name="group" ngDefaultControl [(ngModel)]="answer">
          <ion-radio-group>
              <ion-item>
                  <ion-label>Ja</ion-label>
                  <ion-radio value="true"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Nej</ion-label>
                  <ion-radio value="false"></ion-radio>
                </ion-item>
          </ion-radio-group>

      </ion-list>
    </div>
    <input type="text" ion-item  [(ngModel)]="answer" (change)="answer = answer" *ngIf="type === 'text'" placeholder="Skriv dit svar her">
  </div>