    div.box {
      border: 1px solid #eee;
      margin-top: 20px;
      padding: 10px;
    }
    p.bold {
      font-weight: 700;
    }
    input[type=number] {
      border: 1px solid rgba(0,0,0,0.2);
      width:100%;
    }
    ion-toggle {
      display: inline-block;
    }
    input {
      padding: 10px;
    }
  