.box{
    border: solid 1px black ;
    height: 200px;
}

.innerupdates{
    padding:6px;
}

.update{
    border-radius: 10px;
    background:  rgb(230, 250, 255);
    padding: 20px; 
    box-shadow: 0px 0px 4px 1px rgb(196, 196, 196);
    height:100%;
    margin: 10px !important;
}

.status {
    background:  #eee;
    padding: 10px; 
    box-shadow: 0px 0px 4px 1px rgb(196, 196, 196);
    margin: 10px !important;
}

.hr{
    margin:20px;
}
