<ion-header>
  <ion-toolbar>
    <ion-title>CTG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-button (click)="start()" expand="block">Start</ion-button>
  <ion-button (click)="stop()" expand="block">Stop</ion-button>
  <ion-button (click)="send()" expand="block">Send</ion-button>
  <ion-button expand="block" routerLink="/home" routerDirection="root">Tilbage</ion-button>
  <div class="status">
    {{status}}
  </div>
  <div class="update" >
    <div class="innerupdates" *ngFor="let update of log;  let i = index;">
      <div >
          <input type="text" name="fname" value={{update}}>
          <!-- <strong><label > {{update}} </label></strong> -->
      </div>
    </div>
  </div>
</ion-content>
